<!doctype html>

<html>
  <head>
    <title>ML_Model</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}">
  </head>
  <body>
    <h1>Black Knight HeavyWater Machine Learning Assessment</h1>
    <p>Please write the content below:</p>
    <form method="POST" action="/predict" enctype="text/html">
      <div class="ui input">
        <input type="text" name="content" placeholder="Document content ...">
      </div>
      <br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
